<section class="hero section is-warning">
  <div class="hero-body">
    <div class="container" style="margin-left: 1rem">
      <h1 class="title is-1 title-font">
        Inclusivity Statement
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="box">
    <div class="content">
      <p>  The EGSA annual conference is committed to creating a safe, accessible, and respectful environment for the conduct of academic inquiry. We want to create a space in which everyone can do their best work and no one is mistreated because of ability, race, religion, gender, sexuality, nationality, socioeconomic status, or any other aspect of their identity. </p>
    
      <p>We acknowledge that mistakes happen; that said, we ask that all participants remain respectful, accountable, and committed to our conference's mission of solidarity and mutual understanding. </p>
    
      <p>To that end, we offer a few guidelines:</p>
    
      <ol type="1">
        <li>Don’t make assumptions about someone’s identity. Participants are free to express themselves to the extent that they feel comfortable.</li>
        <li>Respect the rights of others to self-determine their identity.</li>
        <li>Avoid using ableist, sexist, racist, classist, misogynist, transphobic, homophobic, or other discriminatory language.</li>
        <li>Do not take photographs or video recordings without consent.</li>
        <li>Practice active listening. This includes waiting for someone else to finish speaking before speaking yourself; avoiding generalizations, or speaking on behalf of others; and remaining aware of the time and space you are taking in the discussion.</li>
        <li>If you have a question during Q&A, carefully consider the intention behind your question. Aim for wording that is as constructive as possible.</li>
      </ol>
    
    <p>If you encounter someone disrupting the conference or behaving inappropriately, please contact a conference organizer as soon as possible.</p>
    
    <p>Finally, we understand that inclusivity is an ongoing process—we invite participants to share feedback on what we can do to ensure the safety and accessibility of this shared space.</p>

      <p>
      (Inclusivity statement adapted with permission from the <a href="http://www.2015.differentgames.org/">Different Games Conference</a>.) 
      </p>
    
    </div>
  </div>

</section>