// .section {
//   padding-bottom: 0.5rem;
// }

// .subtitle.is-3 {
//   margin-bottom: 0.5rem;
// }

// p {
//   margin-bottom: 1rem;
// }
.car,
.transit {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
