<app-map></app-map>

<section class="section">
  <h1 class="title is-2">Getting Here</h1>

  <div class="columns">
    <div class="column">
      <div class="box">
        <h3 class="title is-4">Campus Address:</h3>
        <p class="subtitle">3700 O St., N.W. <br> Washington, D.C. 20057 </p>
      </div>
    </div>
    <div class="column is-three-quarters">
        <article class="message is-info">
            <div class="message-header">
              <p>Info</p>
            </div>
            <div class="message-body">
                <p>Once on campus, we will have signs posted. New North is located behind Healy Hall, which is the large stone building with the clock tower that faces the front gates. Campus maps are available on <a href="https://maps.georgetown.edu/">Georgetown's Website</a>.</p>
            </div>
          </article>
    </div>
  </div>

  <div class="content car">
    <h2 class="subtitle is-3">By Car:</h2>
    <p>
      Limited free and metered parking is available in the blocks surrounding
      Georgetown's campus. If you plan to drive and stay for the full event,
      parking in the on-campus visitor's lot, the Southwest Garage, may be easier.
      Use 3611 Canal Road as the GPS address for directions to the Southwest
      Garage. Please find driving directions at
      <a href="https://www.georgetown.edu/directions-to-georgetown">Georgetown.edu</a>.
    </p>
  </div>

  <div class="content transit">
    <h2 class="subtitle is-3">By Public Transit:</h2>

    <p>
      Although Georgetown does not have its own metro stop, visitors are able to
      take buses from Dupont Circle (Red Line) or Rosslyn (Orange, Blue, and
      Silver Lines). The G2, which runs from Howard University to the front gates
      of Georgetown, stops two blocks away from the Dupont Circle Metro station at
      20th and P St. NW. Georgetown also operates a free shuttle bus service from
      Dupont (pick up at 20th and Massachusetts Ave NW) to campus, although on
      Saturdays the buses pick up every 20 minutes only from 12:20pm-6:40pm. The
      D2 and D6 also both run from Dupont Circle to Georgetown, although the
      closest drop off is about 4 blocks away from campus.
    </p>
  
    <p>
      From Rosslyn, the <a href="http://www.dccirculator.com/explore/where-we-go/dupont-circle-georgetown-rosslyn/">DC Circulator</a>, which runs every 10 minutes on weekends
      from 7:00am-3:00am, picks up at the corner of 19th and N. Moore St. Visitors
      traveling to campus should get off at the next stop at 34th and M St. NW,
      then walk to 37th and O St. NW.
    </p>
  
    <p>
      If you are planning to use public transportation, please consult <a href="https://www.wmata.com/schedules/trip-planner/">WMATA’s
      trip planner tool</a>.
    </p>
  </div>
</section>
