<section class="hero section is-danger">
  <div class="hero-body">
    <div class="container" style="margin-left: 1rem">
      <h1 class="title is-1">
        Mimi Khúc
      </h1>
      <h2 class="subtitle">Keynote Speaker</h2>
    </div>
  </div>
</section>
<section class="section main">
  <div class="box content bio">
    <p><strong>Mimi Khúc</strong>, PhD, is a writer, scholar, and teacher of things unwell. She is an adjunct professor of Asian American studies, American studies, religious studies, and women+gender studies, and the managing editor of The Asian American Literary Review. She is the guest editor of <em>Open in Emergency: A Special Issue on Asian American Mental Health</em>, an arts and humanities intervention that works to rethink and decolonize Asian American un/wellness, and oversees the Open in Emergency Initiative, a multi-year national project that connects universities and community spaces to think together about the shape and scope of Asian American mental health.</p>
    <p>Her website is <a href="https://www.mimikhuc.com/">https://www.mimikhuc.com/</a>.</p>
  </div>
</section>