<section class="hero section is-primary">
  <div class="hero-body">
    <div class="container" style="margin-left: 1rem">
      <h1 class="title is-1">
        Plenary Panel
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title">Person</h2>
        <h3 class="subtitle">title</h3>
        <div class="content">
          <p>who am i</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title">Person</h2>
        <h3 class="subtitle">title</h3>
        <div class="content">
          <p>who am i</p>
        </div>
      </div>
     </div>
    <div class="column">
      <div class="box">
        <h2 class="title">Person</h2>
        <h3 class="subtitle">title</h3>
        <div class="content">
          <p>who am i</p>
        </div>
      </div>
    </div>
  </div>
</section>