<section class="hero section is-warning">
  <div class="hero-body">
    <div class="container" style="margin-left: 1rem">
      <h1 class="title is-1">
        GU Conf 2019
      </h1>
      <h2 class="subtitle is-2">
        leave your joy at the door.
      </h2>
    </div>
  </div>
</section>

<section class="section ismessage">
  <article class="message is-medium">
    <div class="message-header">
      <p>What is <span class="title-font">ANGUISH</span>?</p>
      <fa-icon icon="question"></fa-icon>
    </div>
    <div class="message-body">
      This is a good place for the statement. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
      <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec
      nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
      diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
      <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
      sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a
      neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
    </div>
  </article>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">When?</p>
            <p class="subtitle is-4">March 32-35</p>
            <a [routerLink]="['/schedule']">Schedule</a>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Where?</p>
            <p class="subtitle">Georgetown University</p>
            <p>Copley Formal Lounge</p>
            <figure class="image is-5by4">
              <img
                src="../../../assets/map_pic.png"
                alt="Map Location"
                class="is-centered"
              />
            </figure>
            <a [routerLink]="['/location']">>>> Location</a>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Register now</p>
            <p class="subtitle">Don't be this person</p>
            <figure class="image is-4by3">
              <img
                class="is-centered"
                src="https://umemphisphsa.files.wordpress.com/2015/10/anguish.jpg"
              />
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Wide tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!--         content            -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Who?</p>
          <p class="subtitle">Interdisciplinary</p>
          <div class="content">
            All members, presenters, attendees, sponsors, or business partners
            are expected to be respectful of one another at all times. All forms
            of harassment, particularly harassment related to gender, sexual
            orientation, race, religion, disability, or physical appearance,
            will not be tolerated.
          </div>
          <a [routerLink]="['/inclusivity']">Read more...</a>
        </div>
      </article>
    </div>
  </div>
</section>
