<section class="hero is-medium is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        GU Conf 2019
      </h1>
      <h2 class="subtitle is-2">
        leave your joy at the door.
      </h2>
    </div>
  </div>
</section>
<section class="section has-background-white-bis">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Presenters</p>
        <p class="title">32</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Feelings</p>
        <p class="title">hurt</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Days</p>
        <p class="title">3</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Food</p>
        <p class="title">free</p>
      </div>
    </div>
  </nav>
</section>
<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">When?</p>
            <p class="subtitle is-4">March 32, 2019</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">...tiles</p>
            <p class="subtitle">Bottom tile</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Register now</p>
            <p class="subtitle">Don't be this person</p>
            <figure class="image is-4by3">
              <img
                class="is-centered"
                src="https://umemphisphsa.files.wordpress.com/2015/10/anguish.jpg"
              />
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Wide tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!--         content            -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Who?</p>
          <p class="subtitle">Interdisciplinary</p>
          <div class="content">
            All members, presenters, attendees, sponsors, or business partners
            are expected to be respectful of one another at all times. All forms
            of harassment, particularly harassment related to gender, sexual
            orientation, race, religion, disability, or physical appearance,
            will not be tolerated.
          </div>
          <a [routerLink]="['/inclusivity']">Read more...</a>
        </div>
      </article>
    </div>
  </div>
</section>
